<html>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr id="colunas">
				<th>Nome</th>
				<th>Valor</th>
				<th>Descrição</th>
				<th>Itens</th>
				<th>Tamanho</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" id="nome" class="form-control"></td>
				<td><input type="number" id="valor" class="form-control"></td>
				<td><input type="text" id="descricao" class="form-control"></td>
				<td>
					<div class="col-md-13" >
				      <select class="form-control" id="dropItem">
				        <option class="dropdown-header">Item</option>
				        <option>Feijão</option>
				        <option>Arroz</option>
				        <option>Macarrão</option>
				        <option>Purê</option>
				      </select>
					</div>
				</td>
				<td>
					<div class="col-md-13"  >
				      <select class="form-control" id="dropTam">
				        <option class="dropdown-header">Tamanho</option>
				        <option>Pequeno</option>
				        <option>Médio</option>
				        <option>Grande</option>
				      </select>
					</div>
				</td>
				<td><a (click)="addPrato()" class="fa fa-plus plus" aria-hidden="true">
				</a></td>
			</tr>
			<tr *ngFor = "let a of prato; let i = index">
				<td>{{a.nome}}</td>
				<td>{{a.valor}}</td>
				<td>{{a.descricao}}</td>
				<td>{{a.itens}}</td>
				<td>{{a.tamanho}}</td>
				<td>
					<a (click)="deletePrato(i)" class="fa fa-trash-o icon-trash icon" aria-hidden="true" id="edit"></a>
					<a (click)="editPrato()" class="fa fa-pencil icon-pencil icon" aria-hidden="true" id="delete"></a>
				</td>
			</tr>
		</tbody>
	</table>
</html>